<!DOCTYPE html>
<html>
    <head>
        <title>Joseph Driedger's Website</title>
        <meta name="personal website" content="Joseph Driedger's Website">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="./external/css/style.css">
    </head>
    <body>
        <header>
            <img src="" alt="Picture of Joseph Driedger">
            <h1>Joseph (Joey) Driedger</h1>
            <nav>
                <ul>
                    <li>About</li>
                    <li>Projects</li>
                    <li>Posts</li>
                </ul>
            </nav>
        </header>
        <main>

        </main>
        <footer>
            <!-- Contact Information -->
            <div>
                <h2>Contact</h2>
                <p>5133 223A Street<br>Langley, British Columbia<br>Canada V2Y 2T9</p>
                <p>Phone: <a href="tel:1-604-880-7420">604-880-7420</a></p>
            </div>
            <div>
                <!-- Instagram -->
                <a href="https://www.instagram.com/joseph.driedger/"><img src="./resources/img/instagram.png" alt="Instagram"></a>
                <!-- Twitter -->
                <a href="https://twitter.com/JosephSDriedger"><img src="./resources/img/twitter.png" alt="Twitter"></a>
                <!-- LinkedIn -->
                <a href="https://www.linkedin.com/in/joseph-driedger/"><img src="./resources/img/linkedin.png" alt="LinkedIn"></a>
            </div>

        </footer>
    </body>
</html>
